/*https://www.w3schools.com/w3css/w3css_navigation.asp*/
.menu-container {
    z-index: 4;
}

.menu-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-li {
    display: inline
}

.menu-spacing {
    margin-top: 2%;
}

/*https://www.w3schools.com/csS/css_align.asp*/
.center {
    margin: auto;
    width: 66%;
    padding: 10px;
}

/*https://benmarshall.me/responsive-iframes/*/
.map-container {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 25%;
}

.map-container div, .map-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*https://www.w3schools.com/css/css3_transitions.asp*/
#battery-bar {
    transition: width 0.5s;
}

#form-img {
    float: right;
    width: 50%;
}

#table-img {
    max-width: 6%;
}
